@import "../../style/globleStyle.scss";

.adoptionDetail {
  &__greeting{
    color:$primary-color;
  }

  &__hero {
    @include desktop-padding;
    background-color: white;
    height: 52vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top:8rem;
    &-left {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 48%;
    }
  }
  &__body {
    @include desktop-padding;
    padding-top:4rem;
    background: $secondary-background-color;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card{
    background-color: white;
    padding:2rem;
    margin: 2rem 0;
    width: 50rem;
    min-height: 28rem;
    &-greeting{
      min-height: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
    }
  }
  &__shelter {
    display: flex;
    flex-direction: column;
    &-heading{
      margin-bottom: 2rem;
    }
    &-name{
      color:$primary-color;
      font-family: $heading-font;
      margin-bottom: 4rem;
      font-size:3rem;
    }
    &-contact{
      display: flex;
      margin-bottom: 2rem;
      div{
      font-family: $body-font;
        font-size:1.8rem;
        color:$primary-font-color;
        font-weight:300;
      }
    }
    &-icon{
      width: 2rem;
      margin-right: 2rem;
    }
    &-website{
      color:$primary-font-color;
      text-decoration: none;
    }
  }
  
  &__story {
    background-color: $secondary-background-color;
    &-heading{
      margin-bottom:2rem;
    }
    &-body{
      font-size:1.8rem;
      line-height:2.6rem;
      font-family: $body-font;
      font-weight: 300;
      color:$primary-font-color;
    }
  }
  
  &__info > *{
    margin-bottom: 1rem;
    font-size:1.8rem;
    font-family: $body-font;
    color:$primary-font-color;
  }
}

.slider {
  height: 200px;
  width: 400px;
  background-color: darkslateblue;
}

a{
  text-decoration: none;
}
.recommend{

  background-color: $secondary-background-color;
  @include desktop-padding;
  &__highlight{
    color:$primary-color;
  }
  &__list{
    display: flex;
    justify-content: space-evenly;

  }
}
