// regular
@font-face {
    font-family: "Raleway";
    src: url(../../fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
  }
//  medium
  @font-face {
    font-family: "Raleway";
    src: url(../../fonts/Raleway/Raleway-Medium.ttf);
    font-weight: 500;
  }
// semi-bold
@font-face {
    font-family: "Raleway";
    src: url(../../fonts/Raleway/Raleway-SemiBold.ttf);
    font-weight: 600;
  }
//   bold
  @font-face {
    font-family: "Raleway";
    src: url(../../fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
  }


//   light
@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
  }

  // regular
@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
  }
//  medium
  @font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
  }

//   bold
  @font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
  }

