@import "../../style/globleStyle.scss";

.navBar {
    @include desktop-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    margin:4rem 0;
    // box-shadow:0 5px 4.8px 0.3px rgba(66,135,150,.12);
    &__logoImage {
      height: 5rem;
    }
  }