@import "../../style/globleStyle.scss";
.adoptionSearch {
    
    &__result {
    @include desktop-padding;
    
    background-color: $secondary-background-color;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.pagination{
    background-color: $secondary-background-color;
}
.selectBreed{
  width: 40%;
}