@import "../../style/globleStyle.scss";

.adoptionSearch {
  // disable the effect from react router Link 
  a{
    text-decoration: none;
    color:inherit;
  }
  // style for hero
  &__hero{
    height:50rem;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-main {
      margin-bottom: 1rem;
    }
    &-second {
      margin-bottom: 2rem;
      color: $primary-color;
      font-size: 3.5rem;
    }
    &-third {
      margin-bottom: 3rem;
      font-size: 3.5rem;
      @include desktop-padding;
    }
  }
  &__errorMessage {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
  }
  &__input {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    z-index: 0;
  }
  // style for the body of search result 
  &__body {
    @include desktop-padding;
    background-color: $secondary-background-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top:7rem;
  }

  // style the filter 
  &__tags {
    display: flex;
    flex-direction: column;
    width: 25%;
    z-index: 0;
  }
  &__tagGroup{
    margin-bottom:2rem;
    &>*{
      margin-bottom: 2rem;
    }
  }

  &__result {
    width: 70%;
  }
  &__notFound{
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // style the pagination
  &__pagination {
    background-color: $secondary-background-color;
    display: flex;
    justify-content: center;
    margin-bottom:2rem;
  }
}
// add additional highlight for text
.highlight{
color:$primary-color;
text-transform:uppercase;
}

